---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.github.com/repos/endorama/2ami/releases/latest
    method: GET
  response:
    body: '{"url":"https://api.github.com/repos/endorama/2ami/releases/76730999","assets_url":"https://api.github.com/repos/endorama/2ami/releases/76730999/assets","upload_url":"https://uploads.github.com/repos/endorama/2ami/releases/76730999/assets{?name,label}","html_url":"https://github.com/endorama/2ami/releases/tag/v0.6.0","id":76730999,"author":{"login":"github-actions[bot]","id":41898282,"node_id":"MDM6Qm90NDE4OTgyODI=","avatar_url":"https://avatars.githubusercontent.com/in/15368?v=4","gravatar_id":"","url":"https://api.github.com/users/github-actions%5Bbot%5D","html_url":"https://github.com/apps/github-actions","followers_url":"https://api.github.com/users/github-actions%5Bbot%5D/followers","following_url":"https://api.github.com/users/github-actions%5Bbot%5D/following{/other_user}","gists_url":"https://api.github.com/users/github-actions%5Bbot%5D/gists{/gist_id}","starred_url":"https://api.github.com/users/github-actions%5Bbot%5D/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/github-actions%5Bbot%5D/subscriptions","organizations_url":"https://api.github.com/users/github-actions%5Bbot%5D/orgs","repos_url":"https://api.github.com/users/github-actions%5Bbot%5D/repos","events_url":"https://api.github.com/users/github-actions%5Bbot%5D/events{/privacy}","received_events_url":"https://api.github.com/users/github-actions%5Bbot%5D/received_events","type":"Bot","site_admin":false},"node_id":"RE_kwDOCEYC6c4EktJ3","tag_name":"v0.6.0","target_commitish":"master","name":"v0.6.0","draft":false,"prerelease":false,"created_at":"2022-09-09T15:22:42Z","published_at":"2022-09-09T15:42:29Z","assets":[{"url":"https://api.github.com/repos/endorama/2ami/releases/assets/77369751","id":77369751,"node_id":"RA_kwDOCEYC6c4EnJGX","name":"2ami-v0.6.0-darwin-amd64","label":"","uploader":{"login":"github-actions[bot]","id":41898282,"node_id":"MDM6Qm90NDE4OTgyODI=","avatar_url":"https://avatars.githubusercontent.com/in/15368?v=4","gravatar_id":"","url":"https://api.github.com/users/github-actions%5Bbot%5D","html_url":"https://github.com/apps/github-actions","followers_url":"https://api.github.com/users/github-actions%5Bbot%5D/followers","following_url":"https://api.github.com/users/github-actions%5Bbot%5D/following{/other_user}","gists_url":"https://api.github.com/users/github-actions%5Bbot%5D/gists{/gist_id}","starred_url":"https://api.github.com/users/github-actions%5Bbot%5D/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/github-actions%5Bbot%5D/subscriptions","organizations_url":"https://api.github.com/users/github-actions%5Bbot%5D/orgs","repos_url":"https://api.github.com/users/github-actions%5Bbot%5D/repos","events_url":"https://api.github.com/users/github-actions%5Bbot%5D/events{/privacy}","received_events_url":"https://api.github.com/users/github-actions%5Bbot%5D/received_events","type":"Bot","site_admin":false},"content_type":"application/octet-stream","state":"uploaded","size":6754128,"download_count":0,"created_at":"2022-09-09T15:31:41Z","updated_at":"2022-09-09T15:31:42Z","browser_download_url":"https://github.com/endorama/2ami/releases/download/v0.6.0/2ami-v0.6.0-darwin-amd64"},{"url":"https://api.github.com/repos/endorama/2ami/releases/assets/77369727","id":77369727,"node_id":"RA_kwDOCEYC6c4EnJF_","name":"2ami-v0.6.0-linux-amd64","label":"","uploader":{"login":"github-actions[bot]","id":41898282,"node_id":"MDM6Qm90NDE4OTgyODI=","avatar_url":"https://avatars.githubusercontent.com/in/15368?v=4","gravatar_id":"","url":"https://api.github.com/users/github-actions%5Bbot%5D","html_url":"ht[...]
